<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="login/css/style.css">

</head>

<body>
    <div class="content" id="app">
        <form action="index.html">
            <div class="form sign-in">
                <h2>欢迎回来</h2>
                <label>
                    <span>用户名</span>
                    <input type="text" v-model="username"/>
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" v-model="password"/>
                </label>
                <p class="forgot-pass"><a href="javascript:">忘记密码？</a></p>
                <button type="button" class="submit" @click="login_submit">登 录</button>
                <button type="button" class="fb-btn">使用 <span>facebook</span> 帐号登录</button>
            </div>
        </form>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>还未注册？</h2>
                    <p>立即注册，发现大量机会！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注 册</span>
                    <span class="m--in">登 录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>立即注册</h2>
                <label>
                    <span>用户名</span>
                    <input type="text" v-model="register_username"/>
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" v-model="register_password" />
                </label>
                <label>
                    <span>再次输入密码</span>
                    <input type="password" v-model="register_password_two"/>
                </label>
                <label>
                    <span>邮箱</span>
                    <input type="email" v-model="register_email"/>
                </label>
                <label>
                    <span>验证码</span>
                    <input type="email" v-model="register_code"/>
                </label>
                <button type="button" class="submit">注 册</button>
                <button type="button" class="fb-btn">使用 <span>facebook</span> 帐号注册</button>
            </div>
        </div>
    </div>
    <div style="text-align:center;"></div>
</div>
     <!--开发环境版本，包含了有帮助的命令行警告-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript">

    var login_demo = new Vue({
        el:"#app",
        data:{
            username:"1241242",
            password:"",
            register_username:"",
            register_password:"",
            register_password_two:"",
            register_email:"",
            register_code:""
        },
        methods:{
            login_submit:function () {
                var d = {
                    "username":this.username,
                    "password":this.password
                };
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "http://192.168.0.106:80/ssm/test",
                    data:d,

                    success: function(response){
                       if(response.data.username == "123"){
                           console.log("成功")
                       }
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("服务器失败")
                    }
                });
//                axios.get('http://192.168.0.106:80/ssm/test', {
//                    params: {
//                        username: that.username,
//                        password: that.password
//                    }
//                }).then(function (response) {
//                        console.log(response);
//                    })
//                    .catch(function (error) {
//                        console.log(error);
//                    });

//                axios({
//                    headers: {
//                        'Content-Type': 'application/x-www-form-urlencoded'
//                    },
//                    method: 'get',
//                    url: 'http://192.168.0.106:80/ssm/test',
//                    data: {
//                        username: that.username,
//                        password: that.password
//                    }
//                });
            },
            register_submit:function () {

            }
        }
    })

</script>
</body>

</html>